---
layout: quotes
pagination:
  data: collections.quotes
  size: 1
  alias: quote
  before: 0
  after: 0
permalink: "/quotes/{{ quote.title | slug }}/"
eleventyComputed:
  title: "{{ quote.title }}"
---


