<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% include "partials/head.njk" %}
</head>
<body>
  <div class="wrapper">
    <header>
      <h1 class="header-title"><a href="/">alessandro feitosa jr.</a> / <a href="/quotes">citações, trechos e outros</a></h1>
    </header>
    <main>
        <div class="quotes">
            "{{ quote.quote }}" ― <b>{{ quote.author }}</b>. 
            <div class="quote-source">{{ quote.source }}</div>
            <div class="quote-date">Adicionado em {{ quote.date }}</div>
        </div>
        {% if quote.additionalQuotes and quote.additionalQuotes.length > 0 %}
        <div class="breaker"></div>
        <div class="quote-content">
          {% for item in quote.additionalQuotes %}
            <div class="quote-text"><p>"{{ item.quote }}"</p><div>
            <div class="breaker"></div>
          {% endfor %}
        </div>
        {% endif %}
    </main>
    {% include "partials/footer.njk" %}
  </div>
</body>
</html>
